@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,800");

$primary: rgba(30, 120, 80, 0.8);
$black10: rgba(#000, 0.1);
$black50: rgba(#000, 0.5);
$white: #efefef;
$family: 'Open Sans', helvetica, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: $family;
  font-size: 24px;
  color: $black50;
}
body {
  background: #efefef;
}
main {
  position: relative;
  width: 100%;
}
h1 {
  padding: 20px 0 0;
  font-weight: 800;
  font-size: 4rem;
  letter-spacing: -0.8rem;
}
h1, h5 {
 text-align: center; 
}
h5 {
  margin: 0 0 20px;
}
.ruler {
  position: relative;
  display: block;
  left: 50%;
  margin: 0 0 30px -320px;
  width: 640px;
  height: 6px;
  line-height: -20px;
  background: $black10;

  span {
    display: block;
    position: absolute;
    padding: 8px;
    width: 80px;
    top: -22px;
    left: 280px;
    text-align: center;
    background: $white;
  }
}
textarea,
input {
  display: inline-block;
  font-family: $family;
  margin: 10px;
  padding: 20px;
  background: $primary;
  border: 2px solid $black10;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 300;
  color: $white;

  &:focus {
    outline: 0;
  }
}
textarea {
  height: 300px;
}
.flexy-parent {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.flexy-item {
  flex: 1 0 300px;
}